C:\Users\aravind.a\OneDrive - Technovert\Documents\dotnetEmp\.vs
C:\Users\aravind.a\OneDrive - Technovert\Documents\dotnetEmp\bin
C:\Users\aravind.a\OneDrive - Technovert\Documents\dotnetEmp\obj
C:\Users\aravind.a\OneDrive - Technovert\Documents\dotnetEmp\dotnetEmp.csproj